@import '../../../../shared/less/sharedStyles';

@navigationHeight: 40px;

.navigation {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    &_item {
        display: flex;
        justify-content: center;
        vertical-align: center;

        width: ~'calc(100% / 5)';
        height: @navigationHeight;

        float: left;
        overflow: hidden;
        padding: 8px;

        border-bottom: 1px solid @border-color;
        background-color: @grey-color;

        white-space: nowrap;
        text-transform: uppercase;
        font-size: 15px;
        color: @text-color-dark-grey;
        outline: none;

        cursor: pointer;

        &:hover {
            background-color: @grey-color-hover;
        }

        &_active {
            background-color: @white-color;
            color: @text-color-blue;
        }

        &:not(:last-child) {
            border-right: 1px solid @border-color;
        }

        &:focus {
            background-color: darken(@white-color, 2%);
            outline: none;
            box-shadow: 0 0 0 2px @border-color inset;
        }
    }
}

.header {
    padding-left: 30px;

    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.mobile_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation-toggler {
    cursor: pointer;
}
