<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-md-none mobile_header navigation_item"
             (click)="onToggleMenu()">
            <div class="header">
                Знаток ПДД
            </div>
            <div class="navigation-toggler">
                <i class="fa">&#xf0c9;</i>
            </div>
        </div>
        <div class="col-12 col-md-auto navigation_item"
             routerLink="/"
             routerLinkActive="navigation_item_active"
             [pddFocused]="true">
            Главная
        </div>
        <div class="col-12 col-md-auto navigation_item"
             [pddFocused]="true">
            Автошколы
        </div>
        <div class="col-12 col-md-auto navigation_item"
             [pddFocused]="true">
            Автоинструкторы
        </div>
        <div class="col-12 col-md-auto navigation_item"
             routerLinkActive="navigation_item_active"
             [pddFocused]="true">
            Наша команда
        </div>
        <div class="col-12 col-md-auto navigation_item"
             [pddFocused]="true">
            Каталог
        </div>
    </div>
</div>
