<div class="header">
    <h5>Регистрация</h5>
    <button class="close"
          (click)="closeDialog()">&times;</button>
</div>

<div *ngIf="showAlert"
     class="alert"
     [ngClass]="{'alert-danger': !isSuccessMessage, 'alert-success': isSuccessMessage}"
     role="alert">
    {{message}}
</div>

<pdd-loader [showLoader]="showLoader">
    <form [formGroup]="form"
          class="form padding"
          (submit)="onSubmitRegistration()">
        <div class="form-group">
            <label for="username">Имя пользователя</label>
            <input type="text"
                   formControlName="username"
                   id="username"
                   class="form-control"
                   placeholder="Имя"
                   [class.is-invalid]="form.get('username').invalid &&
                   form.get('username').touched">
            <div class="invalid-feedback">
              {{form.get('username').errors && getErrors(form.get('username').errors)}}
            </div>
        </div>
        <div class="form-group">
              <label for="email">Почта</label>
              <input type="email"
                     formControlName="email"
                     id="email"
                     class="form-control"
                     placeholder="Почта"
                     [class.is-invalid]="form.get('email').invalid &&
                     form.get('email').touched">
              <div class="invalid-feedback">
                {{form.get('email').errors && getErrors(form.get('email').errors)}}
              </div>
        </div>
        <div class="form-group">
              <label for="password">Пароль</label>
              <input type="password"
                     formControlName="password"
                     id="password"
                     class="form-control"
                     placeholder="Пароль"
                     [class.is-invalid]="form.get('password').invalid &&
                     form.get('password').touched">
              <div class="invalid-feedback">
                {{form.get('password').errors && getErrors(form.get('password').errors)}}
              </div>
        </div>
        <div class="form-group">
              <label for="passwordConfirm">Подтвердите пароль</label>
              <input type="password"
                     formControlName="passwordConfirm"
                     id="passwordConfirm"
                     class="form-control"
                     placeholder="Пароль"
                     [class.is-invalid]="(form.get('passwordConfirm').invalid || getErrors(form.errors)) &&
                     form.get('passwordConfirm').touched ">
              <div class="invalid-feedback">
                {{form.get('passwordConfirm').errors && getErrors(form.get('passwordConfirm').errors) || getErrors(form.errors)}}
              </div>
        </div>
        <div class="action">
            <button class="submit"
                    type="submit">Создать профиль</button>
        </div>
    </form>
</pdd-loader>
