@import '../../../../../../shared/less/sharedStyles';
@import '../../../../../../shared/less/mixins';

.padding {
    padding: 0 24px 24px;
}

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: @space * 2;
    padding: 24px;
    background-color: @blue-color;
    color: @text-color-white;
}

.alert {
    margin: @space * 2 @space * 6;
}

.close {
    font-size: 25px;
}

h5 {
    margin: 0;
}

.action {
    display: flex;
    justify-content: flex-end;
}

.submit {
    .button-success();
}
