@import '../../../../../shared/less/sharedStyles';

:host {
    display: block;
    min-width: 150px;
    align-self: flex-start;
    border: 1px solid @border-color;
}

.header {
    margin: 0;
    padding: @space * 2;
    text-align: center;
    border-bottom: 1px solid @border-color;
    text-transform: uppercase;
    color: @text-color-blue;
    font-size: 13px;
}

.info {
    padding: @space * 2;

    &:not(:last-child) {
        border-bottom: 1px solid @border-color;
    }
}

.statistic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: @space;
    font-style: italic;
    font-size: 12px;
}

.text-success {
    color: @text-color-green;
}

.rating {
    margin: 0;
}
