<h6 class="header">
  Статистика
</h6>
<div class="info">
  <div class="statistic">
    <span>Выиграно</span>
    <span>
      <span class="text-success">0</span>/<span class="text-success">0</span>
    </span>
  </div>
  <div class="statistic">
    <span>% побед</span>
    <span class="text-success">0</span>
  </div>
</div>
<div class="info">
  <div class="statistic rating">
      <span>В рейтинге</span>
      <span class="text-success">12345</span>
  </div>
</div>