@import '../../../../../../shared/less/sharedStyles';

:host {
    display: block;
    padding: @space * 5;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.avatar-wrapper {
    width: 245px;
    height: 215px;
}

.avatar {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 160px;
    height: 160px;
}
