<image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    [resizeToWidth]="128"
    format="png"
    (imageCroppedBase64)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (loadImageFailed)="loadImageFailed()"></image-cropper>

<div class="wrapper">
    <img class="avatar"
         [src]="croppedImage"/>
    <img class="avatar-wrapper"
         src="../../../../../../assets/undefined%20avatar.png">
    <img src="../../../../../../assets/new3.png">
</div>