:host {
    display: block;

    &._disabled .star {
        cursor: default;
    }
}

.star {
    display: inline-block;
    margin-left: 2px;
    width: 20px;
    line-height: 15px;
    text-align: center;
    cursor: pointer;

    &_inactive {
        filter: grayscale(1);
    }
}
