<div class="mistakes_list">
  <ng-container *ngFor="let mistake of mistakes; let index = index">
    <div class="mistakes_list_preview"
         routerLink="{{index + 1}}">
      <img src="../../../../../../../../assets/pdd-01-02.jpg"
           class="image">
      <div class="mistakes_list_description">asdsadasd</div>
    </div>
    <div class="linear-gradient"></div>
  </ng-container>
</div>

<pdd-pagination [max]="12"></pdd-pagination>