@import '../../../../../../../../shared/less/sharedStyles';

.mistakes_list {
    display: flex;
    flex-direction: column;
    margin-top: @space;

    &_preview {
        display: flex;
        flex-direction: row;

        padding: @space * 2 0;

        cursor: pointer;
        outline: none;

        &:hover {
            background-image: linear-gradient(
                90deg,
                rgba(255, 255, 255, 0) 10%,
                @white-color-active 70%,
                rgba(255, 255, 255, 0) 100%
            );
        }
    }

    &_description {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 50%;

        text-transform: uppercase;
        font-style: italic;
        font-size: 15px;
        color: @text-color-blue;
    }
}

.image {
    width: 50%;
    max-height: 120px;

    border: 1px solid @border-color;
}
