@import '../../../../../../shared/less/sharedStyles';
@import '../../../../../../shared/less/mixins';

.padding {
    padding: 0 24px 24px;
}

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: @space * 2;
    padding: 24px;
    background-color: @blue-color;
    color: @text-color-white;
}

.close {
    font-size: 25px;
}

.alert {
    margin: @space * 2 @space * 6;
}

h5 {
    margin: 0;
}

.form {
    font-style: italic;
}

.form-group {
    margin: 0;
}

.points {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: @space * 2;
}

.label {
    margin: 0;
}

.rating {
    font-size: 15px;
}

.custom-control-label,
.custom-control-input {
    cursor: pointer;
}

.action {
    display: flex;
    justify-content: flex-end;
    margin-top: @space * 2;
}

.submit {
    .button-success();
}
