<div class="header">
    <h5>Написать отзыв</h5>
    <span class="close"
          (click)="closeDialog()">&times;</span>
</div>

<div *ngIf="showAlert"
     class="alert alert-danger"
     role="alert">
    Проблемы с сохранением отзыва, попробуйте позже.
</div>

<form [formGroup]="form"
      class="form padding"
      (submit)="onSubmitReviews()">
    <div class="points">
        <label for="rating"
               class="label">
            Оценка сайту
        </label>
        <span class="rating">
            {{rating}}
        </span>
        <pdd-stars formControlName="stars"
                   id="rating"
                   [disabled]="false"></pdd-stars>
    </div>
    <div class="form-group">
        <label for="text"
               class="text">
            Текст отзыва
        </label>
        <textarea type="text"
                  formControlName="text"
                  id="text"
                  class="form-control"
                  placeholder="Текст"
                  rows="4"
                  [class.is-invalid]="form.get('text').invalid &&
                   form.get('text').touched"></textarea>
        <div class="invalid-feedback">
          {{form.get('text').errors && getErrors(form.get('text').errors)}}
        </div>
    </div>
    <div class="custom-control custom-checkbox my-1 mr-sm-2">
        <input type="checkbox"
               formControlName="checkbox"
               id="checkbox"
               class="custom-control-input"
               [class.is-invalid]="form.get('checkbox').invalid &&
               form.get('checkbox').touched">
        <label class="custom-control-label"
               for="checkbox">
            Я ознакомлен с <a href="#">правами публикации отзыва</a>
        </label>
    </div>
    <div class="action">
        <button type="submit"
                class="submit">Отправить отзыв</button>
    </div>
</form>