<ng-container *ngFor="let theme of themes; let index = index">
  <div class="theme"
       routerLink="../{{index + 1}}">
    <span class="theme_number">{{index + 1}}</span>
    <span class="theme_name">{{theme}}</span>
  </div>
  <div class="linear-gradient"></div>
</ng-container>