<pdd-dropdown-button name="Уровни"
                     [open]="true">
  <div class="col-md-12">
    <div class="row">
      <div class="card-list">
        <div *ngFor="let i of cards; let index = index"
             class="card-list_item"
             [class.card-list_item_active]="index + 1 === (user$ | async).rank">
          <div class="reward-button">Получить {{index*100}}</div>
          <span class="reward-points">+{{index*100}} Баллов</span>
          <!--<span class="display-1 question_mark">?</span>-->
          <span class="text">Великолепное описание как получить ранг</span>
          <img class="image"
               src="../../../../assets/new3.png">
          <pdd-progress-bar size="m"
                            [showGrid]="true"
                            [done]="100"
                            [max]="100"></pdd-progress-bar>
        </div>
      </div>
    </div>
  </div>
</pdd-dropdown-button>

<!--<pdd-dropdown-button name="Грамоты"></pdd-dropdown-button>-->