@import '../../../../shared/less/sharedStyles';
@import '../../../../shared/less/mixins';

.card-list {
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    justify-content: space-between;

    &_item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        float: left;
        width: ~'calc((100% - 4 * @{space})/ 4)';
        padding: @space * 2;
        border: 1px solid @border-color;
        border-radius: @radius;
        cursor: pointer;

        &:nth-child(n + 5) {
            margin-top: @space * 2;
        }

        &:hover {
            background-color: @white-color-hover;
        }

        &_active {
            box-shadow: 0 5px 10px @darker-grey-color;
            border: 1px solid @border-color-active;
        }
    }
}

.question_mark {
    color: @text-color-light-grey;
}

.reward-points {
    text-transform: uppercase;
    font-size: 13px;
    color: @text-color-green;
}

.reward-button {
    .button-success();
    width: 100%;
}

.image {
    width: 100%;
    max-width: 150px;
    margin-bottom: @space * 2;
}

.text {
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 100px;
    font-size: 13px;
    font-style: italic;
}
