<pdd-dropdown-button name="личная информация"
                     [open]="true">
  <div class="col-md-12">
    <div class="row">
      <div class="col-8">
        <form [formGroup]="personalForm"
              (submit)="onSubmitPersonalForm()">
          <div class="form-group">
            <label for="firstName">Имя</label>
            <input type="text"
                   formControlName="firstName"
                   id="firstName"
                   class="form-control"
                   [class.is-invalid]="personalForm.get('firstName').invalid &&
                   personalForm.get('firstName').touched"
                   placeholder="Имя">
            <div class="invalid-feedback">
              {{personalForm.get('firstName').errors && getErrors(personalForm.get('firstName').errors)}}
            </div>
          </div>
          <div class="form-group">
            <label for="secondName">Фамилия</label>
            <input type="text"
                   formControlName="secondName"
                   class="form-control"
                   id="secondName"
                   [class.is-invalid]="personalForm.get('secondName').invalid &&
                   personalForm.get('secondName').touched"
                   placeholder="Фамилия">
            <div class="invalid-feedback">
              {{personalForm.get('secondName').errors && getErrors(personalForm.get('secondName').errors)}}
            </div>
          </div>
          <div class="form-group">
            <label for="email">Почта</label>
            <input type="email"
                   formControlName="email"
                   class="form-control"
                   placeholder="Почта"
                   id="email"
                   [class.is-invalid]="personalForm.get('email').invalid &&
                   personalForm.get('email').touched">
            <div class="invalid-feedback">
              {{personalForm.get('email').errors && getErrors(personalForm.get('email').errors)}}
            </div>
          </div>
          <div class="form-group">
            <label for="username">Логин</label>
            <input type="text"
                   formControlName="username"
                   class="form-control"
                   placeholder="Логин"
                   id="username"
                   [class.is-invalid]="personalForm.get('username').invalid &&
                   personalForm.get('username').touched">
            <div class="invalid-feedback">
              {{personalForm.get('username').errors && getErrors(personalForm.get('username').errors)}}
            </div>
          </div>
          <div class="form-group">
            <label for="avatar">Изменить аватар</label>
            <input type="file"
                   formControlName="avatar"
                   class="form-control"
                   placeholder="Логин"
                   id="avatar"
                   [class.is-invalid]="personalForm.get('avatar').invalid &&
                   personalForm.get('avatar').touched"
                   (change)="fileChangeEvent($event)">
            <div class="invalid-feedback">
              {{personalForm.get('avatar').errors && getErrors(personalForm.get('avatar').errors)}}
            </div>
          </div>
          <div class="form-group">
            <label for="avatar">Дата рождения</label>
            <input type="text"
                   formControlName="birthday"
                   class="form-control"
                   placeholder="Дата рождения"
                   id="birthday"
                   [class.is-invalid]="personalForm.get('birthday').invalid &&
                   personalForm.get('birthday').touched">
            <div class="invalid-feedback">
              {{personalForm.get('birthday').errors && getErrors(personalForm.get('birthday').errors)}}
            </div>
          </div>
          <div class="form-group">
            <label for="city">Город</label>
            <input type="text"
                   formControlName="city"
                   class="form-control"
                   placeholder="Город"
                   id="city"
                   [class.is-invalid]="personalForm.get('city').invalid &&
                   personalForm.get('city').touched">
            <div class="invalid-feedback">
              {{personalForm.get('city').errors && getErrors(personalForm.get('city').errors)}}
            </div>
          </div>
          <button type="submit"
               class="btn btn-primary">
            Сохранить профиль
          </button>
        </form>
      </div>
      <div class="col-4">
        <p class="avatar_preview">
          <img [src]="(user$ | async).avatar ? (user$ | async).user_avatar : '../../../../assets/av.png'"
               class="avatar">
          <span>
            Для участия в розыгрыше призов вам должно быть не менее 18 лет.
          </span>
          <span>
            Получении приза, указанные здесь данные, должны совпадать с паспортными данными.
          </span>
        </p>
        <mat-slide-toggle [checked]="doubleClickOnAnswer"
                          (toggleChange)="toggleChange()">
          Режим двойного нажатия
        </mat-slide-toggle>
        <p class="help-text">
          Этот режим позволяет избежать случайных ответов на вопросы.
          Вам необходимо будет нажать 2 раза (мышкой или кнопками) на ответ, чтобы он засчитался
        </p>
      </div>
    </div>
  </div>
</pdd-dropdown-button>

<pdd-dropdown-button name="социальные сети">
  <div class="col-md-12">
    <div class="row d-flex flex-column text-center">
      <p class="h5">Привяжите аккаунты своих социальных сетей для быстрого входа</p>
      <div class="icon-list">
        <i class="fa fa-vk"></i>
        <i class="fa fa-facebook-official"></i>
        <i class="fa fa-odnoklassniki"></i>
        <i class="fa fa-google-plus"></i>
        <i class="fa fa-yahoo"></i>
      </div>
    </div>
  </div>
</pdd-dropdown-button>

<pdd-dropdown-button name="безопасность">
  <div class="col-md-12">
    <div class="row">
      <div class="col-6">
        <form [formGroup]="passwordForm"
              (submit)="onSubmitPasswordForm()">
          <div class="form-group">
            <label for="oldPassword">Старый пароль</label>
            <input type="password"
                   formControlName="oldPassword"
                   class="form-control"
                   placeholder="Старый пароль"
                   id="oldPassword"
                   [class.is-invalid]="passwordForm.get('oldPassword').invalid &&
                   passwordForm.get('oldPassword').touched">
            <div class="invalid-feedback">
              {{passwordForm.get('oldPassword').errors && getErrors(passwordForm.get('oldPassword').errors)}}
            </div>
          </div>
          <div class="form-group">
            <label for="newPassword">Новый пароль</label>
            <input type="password"
                   formControlName="newPassword"
                   class="form-control"
                   placeholder="Новый пароль"
                   id="newPassword"
                   [class.is-invalid]="passwordForm.get('newPassword').invalid &&
                   passwordForm.get('newPassword').touched">
            <div class="invalid-feedback">
              {{passwordForm.get('newPassword').errors && getErrors(passwordForm.get('newPassword').errors)}}
            </div>
          </div>
          <div class="form-group">
            <label for="newPasswordConfirm">Подтвердите пароль</label>
            <input type="password"
                   formControlName="newPasswordConfirm"
                   class="form-control"
                   id="newPasswordConfirm"
                   placeholder="Подтвердите пароль"
                   [class.is-invalid]="passwordForm.get('newPasswordConfirm').invalid &&
                   passwordForm.get('newPasswordConfirm').touched">
            <div class="invalid-feedback">
              {{passwordForm.get('newPasswordConfirm').errors && getErrors(passwordForm.get('newPasswordConfirm').errors)}}
            </div>
          </div>
          <button type="submit"
               class="btn btn-primary">
            Сохранить
          </button>
        </form>
      </div>
      <div class="col-6">
        <p>Последний раз пароль менялся: <span class="text-red">{{(user$ | async).last_password_update | date:'short'}}</span></p>
        <p>Предыдущее посещение: <span class="text-primary">{{(user$ | async).date_joined | date:'short'}}</span></p>
      </div>
    </div>
  </div>
</pdd-dropdown-button>

<pdd-dropdown-button name="прочее">
  <div class="col-md-12 button-list">
    <div class="button-danger">Сброс статистики</div>
    <div class="button-danger">Удалить аккаунт</div>
  </div>
</pdd-dropdown-button>
