@import '../../../../shared/less/sharedStyles';

.avatar {
    width: 100%;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;

    &_preview {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

.icon-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;

    width: 25%;

    & > i {
        font-size: 30px;

        cursor: pointer;
    }
}

.btn-primary {
    -webkit-appearance: none;
}

.text-red {
    color: @text-color-red;
}

.text-primary {
    color: @text-color-blue;
}

.button-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button-danger {
    padding: @space * 2 @space * 3;
    background-color: @red-color;
    border-radius: @radius;
    text-transform: uppercase;
    color: @white-color;

    cursor: pointer;

    &:hover {
        background-color: @red-color-hover;
    }

    &:active {
        background-color: @red-color-active;
    }
}

.help-text {
    font-size: 13px;
    color: @text-color-light-grey;
}
