@import '../../less/sharedStyles';

:host {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: @space * 2;
}

.button_question {
    display: flex;
    justify-content: center;

    padding: @space * 1.5;
    width: ~'calc((100% - (22 * @{space} / 4)) / 22)';

    border: 1px solid @border-color;
    border-radius: @radius / 2;

    background-color: @white-color;

    font-size: 10px;
    font-style: italic;
    font-weight: 600;
    line-height: 1.25;
    color: @text-color-dark-grey;

    cursor: pointer;

    transition: all 0.3s;

    &:not(:nth-child(-n + 1)) {
        margin-left: @space / 4;
    }

    &:hover {
        background-color: @white-color-hover;
    }

    &:active {
        background-color: @white-color-active;
    }

    &_success {
        background-color: @green-color;
        color: @text-color-white;

        &:hover {
            background-color: @green-color-hover;
        }

        &:active {
            background-color: @green-color-active;
        }
    }

    &_error {
        background-color: @red-color;
        color: @text-color-white;

        &:hover {
            background-color: @red-color;
        }

        &:active {
            background-color: @red-color-active;
        }
    }

    &_active {
        background-color: @blue-light-color;
        color: @text-color-white;

        &:hover {
            background-color: @blue-light-color-hover;
        }

        &:active {
            background-color: @blue-light-color-active;
        }
    }
}
