<button *ngIf="start > 1"
     class="button_question more"
     (click)="onClickButton('previous')">...</button>
<button *ngFor="let question of questions"
     class="button_question"
     [class.button_question_success]="question?.result?.is_true"
     [class.button_question_error]="question?.result && !question?.result?.is_true"
     [class.button_question_active]="question?.number === current"
     (click)="onClickButton(question?.number)">
    {{question?.number}}
</button>
<button *ngIf="maximum < max"
     class="button_question more"
     (click)="onClickButton('next')">...</button>
