@import '../../../../../../shared/less/sharedStyles';

:host {
    display: block;
    padding: 12px 0;
}

.rating-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
}

.comment_avatar {
    width: 100%;
    max-width: 100px;
    max-height: 100px;
    z-index: 1;
}

.comment_body {
    display: flex;
    flex-direction: column;

    &_user-info {
        display: flex;
        justify-content: space-between;
        box-shadow: -90px 12px 0 -12px @black-color;
        border-bottom: 1px solid @black-color;
    }

    &_content {
        max-height: 140px;
        overflow: hidden;
        font-style: italic;
    }
}

.text {
    text-transform: capitalize;
}
