<div class="row">
  <div class="col-2 rating-container">
    <pdd-stars [(ngModel)]="review.rating"></pdd-stars>
    <span>{{ review.published_at | date:'shortDate' | russianDate }}</span>
  </div>
  <div class="col-2 d-flex align-items-start">
    <img [src]="review.user.avatar ? review.user.avatar : '../../../../../assets/av.png'"
         class="comment_avatar">
  </div>
  <div class="col-8 comment_body">
    <div class="comment_body_user-info">
      <span class="text">{{review.user.first_name ? review.user.first_name : review.user.username}}</span>
      <span>{{review.user.city}}</span>
    </div>
    <div class="comment_body_content">
      <p>{{review.text}}</p>
    </div>
  </div>
</div>