@import '../../less/sharedStyles';

:host {
    display: flex;
    flex-direction: column;
    padding-top: @space;
}

.question {
    margin-bottom: @space;
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
    font-style: italic;
    color: @text-color-blue;
    word-break: normal;
}

.image {
    width: 100%;
    border: 1px solid @blue-color;
    background-color: #5bc0de;
    min-width: 100%;
    min-height: 200px;
    max-height: 400px;
}

.button-list {
    margin-top: @space * 2;

    &_answer {
        display: block;
        width: 100%;
        padding: @space @space * 2;

        border: 1px solid @border-color;
        border-radius: @radius / 2;

        background-color: @white-color;

        font-size: 13px;
        text-transform: uppercase;
        text-align: left;
        color: @text-color-dark-grey;
        cursor: pointer;
        transition: 0.3s background-color;

        &:not(:first-child) {
            margin-top: @space;
        }

        &:hover {
            background-color: @white-color-hover;
        }

        &:active {
            background-color: @white-color-active;
        }

        &_success {
            background-color: @green-color;
            color: @text-color-white;

            &:hover {
                background-color: @green-color-hover;
            }
        }

        &_error {
            background-color: @red-color;
            color: @text-color-white;

            &:hover {
                background-color: @red-color-hover;
            }

            &:active {
                background-color: @red-color-active;
            }
        }

        &_select {
            background-color: @white-color-select;

            &:hover {
                background-color: @white-color-select-hover;
            }

            &:active {
                background-color: @white-color-select-active;
            }
        }
    }
}

.help-box {
    margin-top: @space * 3;

    &_button-list {
        display: flex;
        flex-direction: row;

        &_button {
            -webkit-appearance: none;
            padding: @space @space * 2;
            border: 1px solid @border-color;
            border-radius: @radius;

            font-size: 13px;

            cursor: pointer;
            background-color: @white-color;

            &:hover {
                background-color: @white-color-hover;
            }

            &:active {
                background-color: @white-color-active;
            }

            & + & {
                margin-left: @space;
            }

            &_primary {
                background-color: @blue-color;
                color: @text-color-white;

                &:hover {
                    background-color: @blue-color-hover;
                }

                &:active {
                    background-color: @blue-color-active;
                }
            }

            &_active {
                background-color: @green-color;
                color: @text-color-white;

                &:hover {
                    background-color: @green-color-hover;
                }

                &:active {
                    background-color: @green-color-active;
                }
            }
        }
    }

    &_text {
        margin-top: @space;
        padding: @space;
        border: 1px solid @border-color;

        text-align: center;
        text-transform: uppercase;
        font-size: 12px;
    }
}
