<div class="question">
  <span #focus>
    {{question?.question}}
  </span>
</div>
<img class="image"
     src="{{question?.picture}}">
<div class="button-list">
    <button *ngFor="let answer of question?.answers; let index = index"
         class="button-list_answer"
         [class.button_disabled]="!!question?.result"
         [class.button-list_answer_select]="!question?.result && buttonSelect === index"
         [class.button-list_answer_error]="answer == question?.result?.user_answer && answer != question?.result?.true_answer"
         [class.button-list_answer_success]="(answer == question?.result?.user_answer && answer == question?.result?.true_answer) || answer == question?.result?.true_answer"
         (click)="emitAnswer(index)">{{answer}}
    </button>
</div>

<div class="help-box">
    <div class="help-box_button-list">
        <button *ngIf="!hideHelp"
             class="help-box_button-list_button"
             (click)="toggleHelpText()">
            Пояснение
        </button>
        <button *ngIf="reload"
             class="help-box_button-list_button help-box_button-list_button_primary"
             (click)="onClickChangeQuestion('reload')">
            Перепройти
        </button>
        <button *ngIf="!hideNext"
             class="help-box_button-list_button help-box_button-list_button_active"
             (click)="onClickChangeQuestion('next')">
            {{question?.number === 20 ? 'Следующий билет' : 'Далее'}}
        </button>
    </div>
    <div *ngIf="openText"
         class="help-box_text">
    <span>ПОД ВЫНУЖДЕННОЙ ОСТАНОВКОЙ ПОНИМАЕТСЯ
        ПРЕКРАЩЕНИЕ ДВИЖЕНИЯ ТС ИЗ-ЗА ЕГО ТЕХНИЧЕСКОЙ
        НЕИСПРАВНОСТИ, ОПАСНОСТИ, СОЗДАВАЕМОЙ ПЕРЕВОЗИМЫМ ГРУЗОМ,
        ВНЕЗАПНЫМ УХУДШЕНИЕМ СОСТОЯНИЯ ВОДИТЕЛЯ
        (ИЛИ ПАССАЖИРА), А ТАКЖЕ ПОЯВЛЕНИЕМ
        ПРЕПЯТСТВИЯ НА ДОРОГЕ (П. 1.2). ОСТАНОВКА,
        СВЯЗАННАЯ С НЕОБХОДИМОСТЬЮ ВЫПОЛНЕНИЯ ТРЕБОВАНИЯ УСТУПИТЬ
        ДОРОГУ, НЕ РАССМАТРИВАЕТСЯ КАК ВЫНУЖДЕННАЯ.</span>
    </div>
</div>
