<div class="dropdown-button"
     (click)="onToggleContent()">
    <fa class="dropdown-button_icon"
        name="chevron-down"
        [class.dropdown-button_icon_content-hide]="!openContent"></fa>
    {{name}}
</div>

<div *ngIf="openContent"
     class="content">
    <ng-content></ng-content>
</div>
