@import '../../less/sharedStyles';

.dropdown-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: @space * 4;

    width: 100%;
    height: 50px;

    background-color: @dark-grey-color;
    border: 1px solid @border-color;

    color: @text-color-dark-grey;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        background-color: @dark-grey-color-hover;
    }

    &:active {
        background-color: @dark-grey-color-active;
    }

    &_icon {
        position: absolute;
        top: auto;
        right: 20px;
        color: #999999;
        transition: transform 0.5s;
        &_content-hide {
            transform: rotate(-180deg);
        }
    }
}

.content {
    padding-bottom: @space * 4;
}
