@import '../../../../../../shared/less/sharedStyles';

:host {
    display: block;
    top: 0;
    padding: @space * 3;
    background-color: @blue-color;
    z-index: 2;

    @media (min-width: 768px) {
        position: sticky;
    }
}

.points-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &_title {
        padding-right: @space * 2;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        color: @white-color;
    }
}

.card {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 120px;
    min-width: 70px;
    height: 30px;
    font-size: 15px;
    overflow: hidden;
}
