<div class="container-fluid">
  <div class="row">

    <div class="col-4 points-content">
      <div class="points-content_title">
        Баллы
      </div>
      <div class="card">
        {{points$ | async}}
      </div>
    </div>

    <div class="col-4 points-content">
      <div class="points-content_title">
        Командные
      </div>
      <div class="card">
        {{teamPoints$ | async}}
      </div>
    </div>

    <div class="col-4 points-content">
      <div class="points-content_title">
        beepcoin
      </div>
      <div class="card">
        {{beepcoin$ | async}}
      </div>
    </div>
  </div>
</div>
