<div class="container-fluid">
  <div class="row">
    <div class="col-3 ml-lg-auto">
      <ul class="profile-list">
        <li class="item-link"
            routerLink="settings"
            routerLinkActive="item-link_active"
            [routerLinkActiveOptions]="{exact: true}">
            Настройки
        </li>
        <li class="item-link"
            routerLink="achievements"
            routerLinkActive="item-link_active"
            [routerLinkActiveOptions]="{exact: true}">
            Достижения
        </li>
        <li class="item-link"
            routerLink="information"
            routerLinkActive="item-link_active"
            [routerLinkActiveOptions]="{exact: true}">
            Информация
        </li>
        <!--<li class="item-link"-->
            <!--routerLink="accounts"-->
            <!--routerLinkActive="item-link_active"-->
            <!--[routerLinkActiveOptions]="{exact: true}">-->
            <!--Счета-->
        <!--</li>-->
        <!--<li class="item-link"-->
            <!--routerLink="purchases"-->
            <!--routerLinkActive="item-link_active"-->
            <!--[routerLinkActiveOptions]="{exact: true}">-->
            <!--Покупки-->
        <!--</li>-->
        <!--<li class="item-link"-->
            <!--routerLink="raffle"-->
            <!--routerLinkActive="item-link_active"-->
            <!--[routerLinkActiveOptions]="{exact: true}">-->
            <!--Розыгрыши-->
        <!--</li>-->
      </ul>
    </div>
    <div class="col-9 col-lg-7 mr-lg-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<pdd-advertising></pdd-advertising>
