@import '../../../shared/less/sharedStyles';

:host {
    display: block;
    margin: @space * 4 0;
}

.profile-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.item-link:not(:first-child) {
    margin: @space * 4 0;
}
