<!--<pdd-dropdown-button name="Изменения пдд"></pdd-dropdown-button>-->
<!--<pdd-dropdown-button name="Изменения в билетах"></pdd-dropdown-button>-->
<!--<pdd-dropdown-button name="Новые штрафы"></pdd-dropdown-button>-->
<pdd-dropdown-button name="Новостная лента" [open]="true">
  <div class="item">
    <div class="header">
      <span class="date">{{date | date: 'shortDate' | russianDate}}</span>
      <span class="title">Заголовок новостей</span>
      <span class="notification"></span>
    </div>
    <div class="about">
      <img src="../../../../assets/av.png"
           class="image">
      <div class="information">
        <p class="text">Разум — это Будда, а прекращение умозрительного мышления — это путь. Перестав мыслить понятиями и размышлять о путях существования и небытия, о душе и плоти, о пассивном и активном и о других подобных вещах, начинаешь осознавать, что разум — это Будда, что Будда — это сущность разума, и что разум подобен бесконечности.</p>
        <a href="#">Подробнее</a>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="header">
      <span class="date">{{date | date: 'shortDate' | russianDate}}</span>
      <span class="title">Заголовок новостей</span>
      <span class="notification"></span>
    </div>
    <div class="about">
      <img src="../../../../assets/av.png"
           class="image">
      <div class="information">
        <p class="text">Разум — это Будда, а прекращение умозрительного мышления — это путь. Перестав мыслить понятиями и размышлять о путях существования и небытия, о душе и плоти, о пассивном и активном и о других подобных вещах, начинаешь осознавать, что разум — это Будда, что Будда — это сущность разума, и что разум подобен бесконечности.</p>
        <a href="#">Подробнее</a>
      </div>
    </div>
  </div>
  <div class="item">
      <div class="header">
        <span class="date">{{date | date: 'shortDate' | russianDate}}</span>
        <span class="title">Заголовок новостей</span>
        <span class="notification"></span>
      </div>
      <div class="about">
        <img src="../../../../assets/av.png"
             class="image">
        <div class="information">
          <p class="text">Разум — это Будда, а прекращение умозрительного мышления — это путь. Перестав мыслить понятиями и размышлять о путях существования и небытия, о душе и плоти, о пассивном и активном и о других подобных вещах, начинаешь осознавать, что разум — это Будда, что Будда — это сущность разума, и что разум подобен бесконечности.</p>
          <a href="#">Подробнее</a>
        </div>
      </div>
    </div>
</pdd-dropdown-button>