@import '../../../../shared/less/sharedStyles';

.item {
    display: flex;
    flex-direction: column;
    padding: @space * 3;
    background-color: @white-color;
    border: 1px solid @border-color;

    &:not(:first-child) {
        margin-top: @space * 4;
    }
}

.header {
    display: flex;
    justify-content: space-between;
}

.date {
    color: @text-color-light-grey;
}

.title {
    text-align: center;
    font-style: italic;
    font-size: 17px;
    font-weight: 500;
    color: @text-color-blue;
}

.notification {
    width: 10px;
    height: 10px;
    background-color: @green-color;
    border-radius: 50%;
}

.image {
    width: 120px;
    max-height: 120px;
}

.about {
    display: flex;
    flex-direction: row;
    margin-top: @space * 3;
}

.information {
    padding-left: @space * 3;
    font-size: 15px;
    text-align: right;
}

.text {
    text-align: left;
}
