<div class="mini-game-container">
    <ng-container *ngIf="timer === null; else waiting">
        <ng-container *ngIf="right !== null">
            <div *ngIf="right; else answerWrong"
                 class="alert alert-success">Ответ правильный
            </div>
        </ng-container>

        <pdd-loader [showLoader]="showLoader$ | async">
            <h5 class="title">{{game.question}}</h5>
            <div class="sign-list">
                <ng-container *ngFor="let sign of game.signs">
                    <img [src]="'media/' + sign.url"
                         class="sign-item"
                         [class.sign-item_active]="isActive(sign.id)"
                         (click)="onClick(sign)">
                </ng-container>
            </div>
            <div class="try-number">Попыток осталось: <span class="number">{{game.attemptNumber}}</span></div>
        </pdd-loader>
    </ng-container>
</div>

<ng-template #answerWrong>
    <div class="alert alert-danger">
        Ответ не правильный, попробуйте еще раз
    </div>
</ng-template>

<ng-template #waiting>
    <div class="waiting">
        <h4 class="waiting_text">Следующие задания станут доступны через {{(timer - (realTime$ | async)) | date:'mm:ss'}}</h4>
    </div>
</ng-template>
