@import '../../../../../../shared/less/sharedStyles';

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: @space * 4;
}

.mini-game-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

.title {
    text-align: center;
    color: @text-color-blue;
    font-style: italic;
}

.sign-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.sign-item {
    width: ~'calc((100% - 8 * 8px) / 8)';
    max-width: 80px;
    margin-left: 8px;
    transition: transform 0.1s;
    cursor: pointer;
    filter: grayscale(0.3);

    &:hover {
        transform: scale(1.03);
    }

    &_active {
        filter: grayscale(0);
        transform: scale(1.1);

        &:hover {
            transform: scale(1.1);
        }
    }
}

.try-number {
    text-align: right;
    color: @text-color-light-grey;
    font-size: 12px;
}

.number {
    color: @text-color-dark-grey;
}

.alert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

.waiting {
    text-align: center;

    &_text {
        margin: 0;
        padding: 0;
        color: @blue-color;
        font-style: italic;
    }
}
