<pdd-question-block>
    <h5 [class.right-answer]="isWon"
        [class.wrong-answer]="isLost">
        {{message}}
    </h5>

    <div class="result-block">
        <div class="result-content">
            <p>Ваш результат:</p>
            <p class="right-answers">Правильных ответов: <strong>{{resultGame.score}}</strong></p>
            <p class="wrong-answers">Неправильных: <strong>{{resultGame.wrongScore}}</strong></p>
        </div>

        <div class="result-content">
            <p>Соперник:</p>
            <p *ngIf="waitingEnemy; else enemy">Ожидание результата противника</p>
        </div>
    </div>

    <ng-template #enemy>
        <p class="right-answers">Правильных ответов: <strong>{{resultGame.enemyScore}}</strong></p>
        <p class="wrong-answers">Неправильных: <strong>{{resultGame.enemyWrongScore}}</strong></p>
    </ng-template>

    <!--<p class="">Время прохождения: <strong>{{time | date: 'shortTime'}}</strong></p>-->
    <!--<span class="muted-text">Все ваши ошибки, допущенные во время игры,-->
      <!--будут показаны во вкладке &laquo;Ошибки&raquo; с пометкой ON-LINE</span>-->
    <!--<p class="muted-text">Можете дальше изучать теорию/решать билеты. Уведомление с результатом появится в правой части-->
        <!--экрана</p>-->

</pdd-question-block>
