@import '../../../../../../shared/less/sharedStyles';

:host {
    display: block;
    min-height: 300px;
}

h5,
p {
    margin: 0;
    padding: 0;
}

.right-answers,
.right-answers * {
    font-size: 17px;
    color: @text-color-green;
}

.wrong-answers,
.wrong-answers * {
    font-size: 17px;
    color: @text-color-red;
}

.muted-text {
    color: @text-color-light-grey;
    font-size: 15px;
}

.result-block {
    display: flex;
}

.result-content {
    flex: 1 1 auto;
}
