@import '../../less/sharedStyles';

:host {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: @space * 2;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: @space / 2 @space;

    min-width: 30px;
    min-height: 30px;

    border: 1px solid @border-color;
    border-radius: @radius;

    background-color: @white-color;

    cursor: pointer;

    & + & {
        margin-left: @space * 2;
    }

    &:hover {
        background-color: @white-color-hover;
    }

    &:active {
        background-color: @white-color-active;
    }

    &_active {
        background-color: @grey-color;

        &:hover {
            background-color: @grey-color-hover;
        }

        &:active {
            background-color: @grey-color-active;
        }
    }
}
