<div *ngIf="hasPrevious"
     class="page"
     (click)="onClick('previous')">...</div>
<ng-container *ngFor="let number of pagination; let index = index">
    <div class="page"
         [class.page_active]="activeItem === (index + startIndex)"
         (click)="onClick(index + startIndex)">
        {{index + startIndex + 1}}
    </div>
</ng-container>
<div *ngIf="hasNext"
     class="page"
     (click)="onClick('next')">...</div>