<table class="leaders_table">
    <tr class="leader_header">
        <td colspan="3">
            Лидеры недели
        </td>
    </tr>
    <tbody *ngFor="let leader of (leaders$ | async); let index = index"
           class="hovered">
    <tr class="leader">
        <td rowspan="2">
            <img src="{{leader?.user_avatar}}" class="leader_avatar"/>
        </td>
        <td class="leader_info">
            <span class="info">{{leader?.username}}</span><br>
            <small class="info">{{leader?.city}}</small>
        </td>
        <td class="leader_medal">
            <img src="../../../../../../assets/medal{{index}}.png" class="medal"/>
        </td>
    </tr>
    <tr>
        <td class="leader_coins coins">
            <span>Баллы</span>
        </td>
        <td class="coins">
            <div class="card">{{leader?.points}}</div>
        </td>
    </tr>
    </tbody>
</table>