@import '../../../../../../shared/less/sharedStyles';

.leaders_table {
    max-width: 90%;
    padding: @space * 2;
    border: 1px solid @border-color;
    background-color: @white-transparent-color;
}

.leader {
    border-top: 1px solid @border-color;

    td {
        width: ~'calc(100% / 3)';
        max-width: 100px;
        min-width: 50px;
    }

    &_avatar {
        width: 100%;
        max-width: 100px;
        padding-left: @space * 2;
    }

    &_header {
        height: 46px;
        text-align: center;
        text-transform: uppercase;
        color: @blue-color;
    }

    &_info {
        padding-top: @space * 5;
        font-size: 13px;
        overflow: hidden;
        text-align: center;
    }

    &_coins {
        padding-right: @space * 2;
        text-align: right;
        text-transform: uppercase;
        color: @blue-color;
    }

    &_footer {
        border-bottom: 1px solid @border-color;
    }

    &_medal {
        display: flex;
        align-items: flex-start;
        margin: -1px auto 0;
    }
}

.coins {
    padding: @space * 5 0;
}

.card {
    margin-left: auto;
    margin-right: auto;

    padding: @space 0;

    width: 80%;

    white-space: nowrap;
    text-align: center;
    overflow: hidden;
}

.medal {
    width: 100%;
    opacity: 0.6;
    transition: opacity 0.3s;
}

.hovered:hover {
    .medal {
        opacity: 1;
    }
}

.info {
    text-transform: capitalize;
}
