<pdd-question-block>
    <div class="indicator-list">
        <div *ngFor="let indicator of questions; let index = index"
             class="indicator"
             [class.indicator_active]="index == active"
             [class.indicator_done]="index < active">
        </div>
    </div>
    <pdd-question-preview [question]="questions ? questions[active] : {}"
                          [hideHelp]="true"
                          [hideNext]="true"
                          [setFocus]="false"
                          (answer)="checkAnswer($event)"></pdd-question-preview>
</pdd-question-block>
