@import '../../../../../../shared/less/sharedStyles';
@indicator-color: #c1e2b3;

.indicator {
    border-radius: 50%;
    border: 1px solid @border-color;
    background-color: @indicator-color;
    width: 20px;
    height: 20px;

    & + & {
        margin-left: @space;
    }

    &_done {
        background-color: @green-color-active;
        border: 1px solid @white-color;
    }

    &_active {
        background-color: @blue-light-color-active;
        border: 1px solid @white-color;
    }
}

.indicator-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
