<div class="container-fluid content">
    <div class="row">
        <div class="col-2 ml-md-auto advertising">
            <img src="../../../../assets/logan-icon.png" class="img-logo">
        </div>
        <div class="col-8 col-md-6 advertising description">
            Renault (Рено) - французская автомобильная компания, производит легковые, грузовые и спортивные автомобили.
            Совместно с румынской компанией Dacia выпускался недорогой и очень популярный Renault Logan.
        </div>
        <div class="col-2 mr-md-auto advertising">
            <img src="../../../../assets/logan.jpg" class="img-car">
        </div>
    </div>
</div>
