@import '../../../../shared/less/sharedStyles.less';

:host {
    display: block;
    padding: @space * 2 @space * 3;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.content {
    border: 1px solid @border-color-light-grey;
}

.advertising {
    display: flex;
    height: @height * 2;
    justify-content: center;
    align-items: center;
    padding: @space * 2;
    overflow: hidden;
    word-break: normal;
}

.img-logo {
    width: 90px;
}

.description {
    font-size: 13px;
}

.img-car {
    width: 160px;
}
