@import '../../../../../../../../shared/less/sharedStyles';

.theme {
    display: flex;
    flex-direction: row;

    padding: @space;

    border: 1px solid transparent;
    background-color: transparent;

    font-style: italic;
    font-size: 15px;
    color: @text-color-dark-grey;

    cursor: pointer;

    &:hover {
        border: 1px solid @border-color;
        background-color: @white-color-hover;
    }

    &:active {
        background-color: @white-color-active;
    }

    &_number {
        display: block;
        padding: 0 @space;

        &:after {
            content: '.';
        }
    }

    &_name {
        display: block;
    }
}
