<pdd-question-block information="Марафон">
    <div class="information_row">
    <span>
      Пройдено вопросов
      <span class="information_row_text-primary"> -</span>
      <span class="bold"> / </span>
      <span class="bold">800</span>
    </span>
        <span>
      Ошибок
      <span class="information_row_text-error"> -</span>
      <span> / </span>
      <span class="information_row_text-primary">-</span>
    </span>
        <span>
      Знаний
      <span class="information_row_text-error"> -</span>
    </span>
    </div>
    <div class="information_row">
    <span>
      Время прохождения
      <span class="information_row_text-primary"> -</span>
    </span>
        <span>
      В среднем на один вопрос
      <span class="information_row_text-error"> -</span>
    </span>
    </div>
    <div class="button-list">
        <ng-container *ngFor="let button of buttons; let index = index">
            <div class="button-list_button"
                 [class.button-list_button_active]="index === active"
                 (click)="onClickButton(index)">
                <span class="points">{{10 * index + 50}}</span>
                <span class="points_name">Баллов</span>
            </div>
        </ng-container>
    </div>
    <div class="information_row information_row_center">
        <div class="button_success">Начать марафон</div>
    </div>
</pdd-question-block>