@import '../../../../../../shared/less/sharedStyles';

.information_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: @space 0;
    margin-top: @space;

    text-transform: uppercase;
    font-size: 15px;

    & > span span {
        font-weight: 600;
    }
    &_text-primary {
        color: @text-color-blue;
    }

    &_text-error {
        color: @text-color-red;
    }

    &_center {
        justify-content: space-around;
    }
}

.button-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: @space * 2;

    &_button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: @space * 2;

        width: ~'calc((100% - 8 * @{space}) / 8)';

        border: 1px solid @border-color;
        border-radius: @radius / 2;

        background-color: @blue-lighter-color;

        color: @text-color-dark-blue;
        cursor: pointer;
        overflow: hidden;

        transition: all 0.15s;

        &:hover {
            background-color: @blue-lighter-color-hover;
        }

        &:active {
            background-color: @blue-lighter-color-active;
        }

        &:nth-child(-n + 8) {
            margin-bottom: @space;
        }

        &_active {
            background-color: @blue-light-color;

            &:hover {
                background-color: @blue-light-color-hover;
            }

            &:active {
                background-color: @blue-light-color-active;
            }
        }

        &_success {
            background-color: @green-light-color;
            color: @text-color-white;

            &:hover {
                background-color: @green-light-color-hover;
            }

            &:active {
                background-color: @green-light-color-active;
            }
        }

        &_error {
            background-color: @red-light-color;
            color: @text-color-white;

            &:hover {
                background-color: @red-light-color-hover;
            }

            &:active {
                background-color: @red-light-color-active;
            }
        }
    }
}

.points {
    font-weight: 500;
    font-size: 1.5rem;

    &_name {
        text-transform: uppercase;
        font-size: 0.75rem;
    }
}

.button_success {
    margin-top: @space * 2;
    padding: @space * 2 @space * 3;
    border-radius: @radius;
    background-color: @green-color;
    color: @text-color-white;
    cursor: pointer;

    &:hover {
        background-color: @green-color-hover;
    }

    &:active {
        background-color: @green-color-active;
    }
}
