@import '../../../../../../shared/less/sharedStyles';
@import '../../../../../../shared/less/mixins';

.padding {
    padding: 0 24px 24px;
}

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: @space * 2;
    padding: 24px;
    background-color: @blue-color;
    color: @text-color-white;
}

.close {
    font-size: 25px;
}

.alert {
    margin: @space * 2 @space * 6;
}

h5 {
    margin: 0;
}

.action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.text {
    font-size: 12px;
    color: @text-color-light-grey;
}

.submit {
    .button-success();
    width: 100px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid @border-color;
    padding: @space * 4;
}

.icon {
    font-size: 30px;
    cursor: pointer;

    &:not(:first-child) {
        margin-left: @space * 2;
    }
}
