<div class="header">
    <h5>Вход на сайт</h5>
    <button class="close"
          (click)="closeDialog()">&times;</button>
</div>

<div *ngIf="showAlert"
     class="alert alert-danger"
     role="alert">
    {{message}}
</div>

<pdd-loader [showLoader]="showLoader">
    <form [formGroup]="form"
          class="padding"
          (submit)="onSubmitLogin()">
        <div class="form-group">
            <label for="username">Имя пользователя</label>
            <input type="text"
                   formControlName="username"
                   id="username"
                   class="form-control"
                   placeholder="Имя"
                   [class.is-invalid]="username.invalid && username.touched">
            <div class="invalid-feedback">
              {{username.errors && getErrors(username.errors)}}
            </div>
            <!--<pdd-form-error [control]="username"></pdd-form-error>-->
        </div>
        <div class="form-group">
              <label for="password">Пароль</label>
              <input type="password"
                     formControlName="password"
                     id="password"
                     class="form-control"
                     placeholder="Пароль"
                     [class.is-invalid]="password.invalid && password.touched">
              <div class="invalid-feedback">
                {{password.errors && getErrors(password.errors)}}
              </div>
        </div>
        <div class="action">
            <span class="text">Забыли пароль?</span>
            <button class="submit"
                    type="submit">Войти</button>
        </div>
    </form>
</pdd-loader>

<div class="footer padding">
    <i class="fa fa-vk icon"></i>
    <i class="fa fa-facebook-official icon"></i>
    <i class="fa fa-google-plus icon"></i>
    <i class="fa fa-yc icon"></i>
</div>
