@import '../../../../../../../../shared/less/sharedStyles';

.question-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    margin-top: @space * 2;
    padding: @space * 2;

    width: ~'calc((100% - 8 * @{space} * 2) / 8)';
    min-width: 60px;

    border: 1px solid @border-color;
    border-radius: @radius;
    background-color: @blue-lighter-color;

    font-size: 24px;
    color: @text-color-dark-blue;
    outline: none;

    cursor: pointer;

    &:hover {
        background-color: @blue-lighter-color-hover;
    }

    &:active {
        background-color: @blue-lighter-color-active;
    }

    &:focus {
        background-color: @blue-lighter-color-hover;
        outline: none;
        box-shadow: 0 0 0 2px darken(@blue-lighter-color-hover, 10%) inset;
        border-color: transparent;
    }
}
