<pdd-question-block information="some title">
    <pdd-loader [showLoader]="(showLoader$ | async)">
        <div class="question-list">
            <button *ngFor="let ticket of (tickets | async); let index = index"
                    class="button"
                    [pddFocused]="true"
                    (click)="onSelectTicket(ticket.id)">
                {{index + 1}}
                <pdd-progress-bar size='s'
                                  [done]="ticket?.done"
                                  [error]="ticket?.error"
                                  [max]="20"></pdd-progress-bar>
            </button>
        </div>
    </pdd-loader>
</pdd-question-block>
