<p class="text">Вам подобрали противника, вы готовы к состязанию?</p>
<pdd-progress-bar [done]="(progress$ | async) * 100 / timer / 2" size="m"></pdd-progress-bar>
<pdd-button size="s" class="action" (click)="submit(true)">Подтвердить</pdd-button>
<pdd-button size="s" class="action" (click)="submit(false)">Отменить</pdd-button>
