<pdd-question-block [information]="information">
    <pdd-loader [showLoader]="showLoader$ | async">
        <pdd-button-list [current]="currentQuestion"
                         [questions]="questions"
                         (buttonNumber)="changeQuestion($event)"></pdd-button-list>
        <pdd-question-preview [question]="question"
                              [rightAnswer]="rightAnswer"
                              (changeQuestion)="changeQuestion($event)"
                              (answer)="checkAnswer($event)"></pdd-question-preview>
    </pdd-loader>
</pdd-question-block>
