@import '../../../../../../shared/less/sharedStyles';
@import '../../../../../../shared/less/mixins';

.content {
    font-style: italic;
    font-size: 15px;

    p {
        margin-bottom: @space;
    }
}

.image {
    width: 100%;
}

.button-success {
    .button-success();
    margin-left: auto;
    width: 150px;
}
