<pdd-question-block [information]="information">
    <div class="content">
        <p>
            После того, как вы нажмете кнопку НАЧАТЬ ЭКЗАМЕН, будет сформирован
            экзаменационный билет из 20 вопросов, на прохождение которого устанавлено временное
            ограничение в 20 минут.
            <br>
            Последовательность вопросов выбирается самостоятельно, путем нажатия клавиш для
            передвижения.
            <br>
            Варианты ответа фиксируются клавишами цифрового ряда клавиатуры.
            <br>
            Подтверждение ответа осуществляется нажатием клавишы ПРОБЕЛ.
        </p>
        <img src="../../../../../../assets/keyboard.png"
             class="image">
        <p>
            Допустимое количетсов ошибок - 2. За каждую ошибку назначается еще пять вопросов той темы,
            где была совершена ошибка.
            <br>
            Информация о правильности ответов на вопросы будет отображена после прохождения всех вопросов,
            либо по истечении установленного времени.
            <br>
            Ошибочные ответы будут сопровождены комментариями. Удачи!
        </p>
        <div class="button-success"
             (click)="startExam()">Начать экзамен
        </div>
    </div>
</pdd-question-block>