@import '../../less/sharedStyles';
@import '../../less/mixins';

:host {
    //display: flex;
    //position: relative;
    //padding: 16px 8px;
}

.content {
    //position: absolute;
    //display: flex;
    //align-content: center;
    //justify-content: center;
    //left: 0;
    //top: 0;
    //width: 100%;
    //height: 100%;
}

.native {
    //position: absolute;
    //left: 0;
    //top: 0;
    //width: 100%;
    //height: 100%;
    //outline: none;
    //cursor: pointer;
    //opacity: 0;
    //-webkit-appearance: none;
}
