<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-3 content">
            <img src="../../../../../../assets/logo.gif"
                 class="image"
                 (click)="goToHome()">
        </div>
        <div class="col-12 col-md-6 content">
            <pdd-mini-game></pdd-mini-game>
        </div>
        <div class="col-12 col-md-3 content">
            <div class="container-button">
                <ng-container *ngIf="!!(user$ | async); else notLogin">
                    <button class="btn-custom btn-custom_primary"
                            routerLink="/profile"
                            [pddFocused]="true">
                        Мой профиль
                    </button>
                    <button class="btn-custom btn-custom_default"
                            [pddFocused]="true"
                            (click)="logout()">
                        Выход
                    </button>
                </ng-container>

                <ng-template #notLogin>
                    <button class="btn-custom btn-custom_primary"
                            [pddFocused]="true"
                            (click)="openLoginDialog()">
                        Вход
                    </button>
                    <button class="btn-custom btn-custom_default"
                            [pddFocused]="true"
                            (click)="openRegistrationDialog()">
                        Регистрация
                    </button>
                </ng-template>
            </div>
        </div>
    </div>
</div>
