@import '../../../../../../shared/less/sharedStyles';
@import '../../../../../../shared/less/mixins';

:host {
    display: block;
    padding-bottom: 20px;
}
.content {
    position: relative;
    margin: 0;
    padding: 0;
    height: 140px;
}

.image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 250px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    outline: none;
}

.container-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.btn-custom {
    width: 60%;
    margin-bottom: 4px;

    &_primary {
        .button-primary();
    }

    &_default {
        .button-default();
    }
}
