<form [formGroup]="form"
      (submit)="startOnlineGame()">
    <div class="flex-column flex-md-row radio-button-list">
      <label class="label category">
          <input type="radio"
                 formControlName="category"
                 value="pdd"
                 class="radio">
          <span class="label_button button-default"
                [class.button-default_active]="category == 'pdd'">
            Знания пдд
          </span>
      </label>
      <label class="label category">
          <input type="radio"
                 formControlName="category"
                 value="signs"
                 class="radio">
          <span class="label_button button-default"
                [class.button-default_active]="category == 'signs'">
            Дорожные знаки
          </span>
      </label>
      <label class="label category">
          <input type="radio"
                 formControlName="category"
                 value="fine"
                 class="radio">
          <span class="label_button button-default"
                [class.button-default_active]="category == 'fine'">
            Штрафы
          </span>
      </label>
    </div>
    <pdd-question-block [information]="information">
        <div class="radio-button-list points">
            <label *ngFor="let value of pointsValue; let index = index"
                   class="label">
                <input type="radio"
                       formControlName="points"
                       class="radio"
                       [pddFocused]="true"
                       [value]="value">
                <span class="label_button point"
                      [class.point_active]="points == value">
                    {{value}}
                </span>
            </label>
            <button class="point point_active"
                    type="submit">
                Старт
            </button>
        </div>
        <div class="content">
            <div class="content_user">
                <pdd-statistic></pdd-statistic>
                <div class="button-default">Равный соперник</div>
            </div>
            <div class="content_avatar">
                <div class="users">
                    <img [src]="(user | async)?.avatar ? (user | async)?.avatar : '../../../../../../assets/av.png'"
                         class="avatar_user">
                    <p>{{(user | async)?.username}}</p>
                </div>
                <img src="../../../../../../assets/vs.png"
                     class="image-vs">
                <div class="users">
                    <img src="../../../../../../assets/undefined%20avatar.png"
                         class="avatar_adversary">
                    <p>Противник</p>
                </div>
            </div>
            <pdd-statistic></pdd-statistic>
        </div>
    </pdd-question-block>
</form>
