@import '../../../../../../shared/less/mixins';
@import '../../../../../../shared/less/sharedStyles';

.radio {
    .visually-hidden();
}

.label {
    display: block;
    margin: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.category {
    @media (min-width: 768px) {
        width: ~'calc((100% - 6 * @{space}) / 3)';
    }

    .button-default {
        width: 100%;
        max-width: none;
    }
}

.button-default {
    width: 200px;
}

.label_button {
    text-transform: uppercase;
}

.radio-button-list {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: @space * 3;
}

.points {
    width: 100%;
    margin: @space * 5 auto;

    @media (min-width: 992px) {
        width: 80%;
    }
}

.point {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: @space;
    width: 60px;
    border: 1px solid @border-color-active;
    border-radius: @radius;
    font-size: 13px;
    cursor: pointer;

    &_active {
        border: 1px solid @border-green-color;
        background-color: @white-color;
        outline: none;
    }

    &_disabled {
        opacity: 0.56;
        cursor: default;
    }
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &_avatar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: @space * 2;

        & > * {
            width: 100%;
            max-width: 100px;
        }

        @media (min-width: 768px) {
            flex-direction: row;

            & > * {
                width: ~'calc(100% / 3)';
                max-width: 150px;
            }
        }
    }

    &_user {
        align-self: flex-start;
    }
}

.avatar {
    &_user,
    &_adversary {
        display: block;
        width: 100%;
    }
}

.image-vs {
    display: block;
}

.button-default {
    margin-top: @space * 2;
    text-transform: uppercase;
    max-width: 150px;
    font-size: 13px;
}

.username {
    text-transform: capitalize;
}

.users {
    text-transform: capitalize;
}
