<div class="progress progress_error"
     [style.width]="errorPercent"></div>
<div class="progress progress_done"
     [style.width]="donePercent"></div>
<div *ngIf="showGrid"
     class="grid"></div>
