@import '../../less/sharedStyles';
@import '../../less/mixins';

:host {
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: @white-color;
    border: 1px solid @border-color;

    &[size='s'] {
        height: 7px;
    }

    &[size='m'] {
        height: 15px;
    }

    &[size='xl'] {
        height: 20px;
    }
}

.progress {
    .transition(width);
    position: absolute;
    height: 100%;
    border-radius: 0;

    &_error {
        background-color: @red-color;
    }

    &_done {
        background-color: @green-color;
    }
}

.grid {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: inherit;
    width: 100%;
    background-size: ~'calc(100% / 10 + 1px)';
    background-image: linear-gradient(to left, @white-color 1px, transparent 1px);
}
