@import '../../../../../../shared/less/mixins';
@import '../../../../../../shared/less/sharedStyles';

:host {
    display: block;
    padding: @space * 4 0;
}

.header-block {
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 992px) {
        width: 70%;
    }
}

.header {
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
    color: @text-color-blue;
}

.radio {
    .visually-hidden();
}

.label {
    display: block;
    margin: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.category {
    .button-default {
        max-width: none;
    }
}

.button-default {
    width: 200px;
}

.label_button {
    text-transform: uppercase;
}

.radio-button-list {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: @space * 3;
}

.points {
    width: 80%;
    margin: @space * 5 auto;
}

.point {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: @space;
    min-width: 60px;
    height: 100%;
    border: 1px solid @border-color-active;
    border-radius: @radius;
    font-size: 13px;
    cursor: pointer;

    &_active {
        border: 1px solid @border-green-color;
        background-color: @white-color;
        outline: none;
    }

    &_disabled {
        opacity: 0.56;
        cursor: default;
    }
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &_avatar {
        text-align: center;
    }

    &_user {
        align-self: flex-start;
    }
}

.avatar {
    &_user,
    &_adversary {
        width: 150px;
    }
}

.image-vs {
    width: 120px;
}

.button-default {
    margin-top: @space * 2;
    text-transform: uppercase;
    max-width: 150px;
    font-size: 13px;
}
