<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-8 mr-lg-auto ml-lg-auto">
            <div class="header-block">
                <h4 class="header">
                    Примите участие в on-line состязаниях с другими пользователями сайта
                </h4>
            </div>
            <ng-container *Let="process$ | async as process">
                <ng-container *ngIf="process === onlineGame.PLAYING; else end">
                    <pdd-online-game-process [gameId]="gameId$ | async"
                                             [questions]="questions$ | async"></pdd-online-game-process>
                </ng-container>

                <ng-template #end>
                    <ng-container *ngIf="isEnd(process); else default">
                        <pdd-online-game-result [resultGame]="result"></pdd-online-game-result>
                    </ng-container>
                </ng-template>

                <ng-template #default>
                    <pdd-online-game-default [user]="user$"
                                             [setPoints]="points"
                                             (startGame)="startGame($event)"></pdd-online-game-default>
                </ng-template>
            </ng-container>
        </div>
    </div>
</div>
