@import 'shared/less/sharedStyles';
@import '~font-awesome/less/font-awesome.less';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import (css) url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i');

* {
    font-family: 'Arimo', Roboto, Arial, sans-serif;
    color: @text-color-dark-grey;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 600px;
    color: @text-color-dark-grey;
}

.item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: @space * 3 @space * 4;

    text-transform: uppercase;

    background-color: @grey-color;
    border: 1px solid @border-color;

    color: @text-color-dark-grey;
    outline: none;
    cursor: pointer;

    &:hover {
        background-color: @grey-color-hover;
    }

    &_active {
        background-color: @white-color;
        border-color: @border-color-active;
        color: @text-color-blue;

        &:hover {
            background-color: @white-color-hover;
        }
    }
}

.button-default {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: @space * 2;
    width: 100%;
    max-width: 225px;
    border: 1px solid @border-color;
    background-color: @grey-color;
    font-size: 15px;
    outline: none;

    cursor: pointer;

    &:hover {
        background-color: @grey-color-hover;
    }

    &:active {
        background-color: @grey-color-active;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px @border-color inset;
        border-color: transparent;
        background-color: @white-color;
    }

    &_active {
        color: @text-color-blue;
        border: 1px solid @border-color-active;
        background-color: @white-color;

        &:hover {
            background-color: @white-color-hover;
        }

        &:active {
            background-color: @white-color-active;
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 2px @border-color-active inset;
            background-color: @white-color;
        }
    }
}

.linear-gradient {
    height: 1px;
    background: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.1) 30%,
        rgba(0, 0, 0, 0.1) 70%,
        rgba(255, 255, 255, 0) 100%
    );
}

.mat-dialog-container {
    position: relative !important;
    padding: 0 !important;
}

.button_disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.72;
}

.disabled {
    cursor: default;
    opacity: 0.56;
    pointer-events: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

snack-bar-container {
    background: @grey-color !important;
    border: 1px solid @border-color !important;
}
