@import 'sharedStyles';

.button() {
    padding: @space @space * 2;

    text-align: center;
    border-radius: @radius;
    border: none;

    overflow: hidden;
    white-space: nowrap;
    font-size: 15px;

    cursor: pointer;

    transition: background-color 0.3s;
}

.button-success() {
    .button();

    background-color: @green-color;
    color: @text-color-white;
    font-style: normal;

    &:hover {
        background-color: @green-color-hover;
    }

    &:active {
        background-color: @green-color-active;
    }
}

.visually-hidden() {
    position: absolute;
    height: 1px;
    width: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(0);
}

.button-default() {
    .button();

    background-color: @grey-color;
    color: @text-color-light-grey;

    &:hover {
        background-color: @grey-color-hover;
    }

    &:active {
        background-color: @grey-color-active;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 1px @border-color inset;
        background-color: @grey-color-hover;
    }
}

.button-primary() {
    .button();

    color: @white-color;
    background-color: @blue-color;

    &:hover {
        background-color: @blue-color-hover;
    }

    &:active {
        background-color: @blue-color-active;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 1px @border-color inset;
        background-color: @blue-color-hover;
    }
}

.visually-hidden() {
    position: absolute;
    height: 1px;
    width: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(0);
}

// position
.top-center() {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.transition(@style; @speed: 0.4s) {
    transition: @style @speed ease;
}

.shadow() {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

// hover - active
.actions(@color, @text-color, @prop: 3%) {
    background-color: @color;
    color: @text-color;

    &:hover {
        background-color: darken(@color, @prop);
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    }

    &:active {
        background-color: darken(@color, @prop * 1.5);
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    }

    &:focus {
        background-color: darken(@color, @prop);
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    }
}

// media
.phone(@rules) {
    @media (max-width: 576px) {
        @rules();
    }
}
