@grey-color: #f5f5f5;
@grey-color-hover: #f0f0f0;
@grey-color-active: #eeeeee;

@light-grey-color: #e0e0e0;

// for dropdown buttons
@dark-grey-color: #ededed;
@dark-grey-color-hover: #eaeaea;
@dark-grey-color-active: #e8e8e8;

@darker-grey-color: #808080;

@white-color: #ffffff;
@white-color-hover: #fafafa;
@white-color-active: #f5f5f6;
@white-color-select: #ffe7d1;
@white-color-select-hover: #ffe5cc;
@white-color-select-active: #ffd8b2;
@white-transparent-color: rgba(255, 255, 255, 0.5);

@black-color: #000000;

@blue-color: #0000e6;
@blue-color-hover: #0000cf;
@blue-color-active: #0000b8;

@blue-light-color: #7ac2ff;
@blue-light-color-hover: #84b9e5;
@blue-light-color-active: #75a4cc;

@blue-lighter-color: #c6e5ff;
@blue-lighter-color-hover: #b3ddff;
@blue-lighter-color-active: #a0d4ff;

@green-color: #28a745;
@green-color-hover: #24963e;
@green-color-active: #208737;

@green-light-color: #68c17c;
@green-light-color-hover: #52b86a;
@green-light-color-active: #3daf57;

@red-color: #c64d4d;
@red-color-hover: #b24545;
@red-color-active: #9e3d3d;

@red-light-color: #d78282;
@red-light-color-hover: #d17070;
@red-light-color-active: #cb5e5e;

@border-color-light-grey: #e0e0e0;
@border-color: #d3d3d3;
@border-color-active: #7b68ee;
@border-green-color: #28a745;

@text-color-red: #ff3232;
@text-color-green: #28a745;
@text-color-blue: #6666ff;
@text-color-dark-blue: #00406b;
@text-color-dark-grey: #333333;
@text-color-light-grey: #666666;
@text-color-white: #ffffff;

@radius: 4px;
@space: 4px;
@height: 46px;

@opacity: 0.56;
@opacity-1: 1;
