<div class="container-fluid content">
    <div class="row">
        <div class="col-md-3">
            <div class="flex-row flex-md-column button-list align-items-md-end">
                <button *ngFor="let link of links"
                        class="button-default"
                        routerLinkActive="button-default_active"
                        [pddFocused]="true"
                        [routerLink]="link.url"
                        (click)="onChangeUrl(link)">
                    {{link.content}}
                </button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="button-list_category">

                <label *ngFor="let categoryContent of categories" class="label">
                    <input type="radio"
                           class="radio"
                           [pddFocused]="false"
                           [value]="categoryContent.value"
                           [formControl]="category">
                    <span class="button-default"
                            [pddFocused]="true"
                            [class.button-default_active]="category.value == categoryContent.value">
                        <span>Категории&nbsp; <strong>{{categoryContent.content}}</strong></span>
                    </span>
                </label>
            </div>
            <router-outlet></router-outlet>
        </div>
        <div class="col-md-3 d-none d-md-block">
            <pdd-leaders></pdd-leaders>
        </div>
    </div>
</div>
<pdd-advertising></pdd-advertising>
<pdd-online-game></pdd-online-game>
<pdd-team-race></pdd-team-race>
