@import '../../../../../../shared/less/sharedStyles';
@import '../../../../../../shared/less/mixins';

.content {
    padding: @space * 4;
}

.button-list {
    display: flex;
    flex-direction: column;

    &_category {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.button-default {
    margin-bottom: @space * 4;
    padding: @space * 3;
    text-transform: uppercase;
}

.radio {
    .visually-hidden();
}

.label {
    width: ~'calc(100% / 2 - 15px)';
    margin: 0;
    text-align: center;

    .button-default {
        max-width: none;
    }
}
