@import '../../../../../../shared/less/sharedStyles';

:host {
    display: block;
    margin: @space * 4 0;
}

.reviews-title {
    padding-bottom: @space * 2;
    text-align: center;
    text-transform: uppercase;
    color: @text-color-blue;
    font-style: italic;
}

.reviews-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: @space * 4;
}

.reviews-none {
    padding: @space * 10;
    text-transform: none;
}
