<div class="container-fluid">
  <h4 class="reviews-title">Отзывы пользователей</h4>
  <div class="row">
    <div class="col-12 col-lg-8 mr-lg-auto ml-lg-auto">
        <pdd-reviews-preview #reviewPreview
                             *ngFor="let review of reviews | async"
                             [review]="review"></pdd-reviews-preview>
        <h4 *ngIf="!(reviews | async); else reviewPreview"
            class="reviews-title reviews-none">
          Пока что еще нет отзывов, но ты можешь стать первым!
        </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-8 mr-lg-auto ml-lg-auto">
      <div class="reviews-button">
        <span class="button-default"
             (click)="openReviewsDialog()">Написать отзыв</span>
        <div class="button-default"
             [class.disabled]="disabled | async"
             (click)="moreReviews()">Еще отзывы</div>
      </div>
    </div>
  </div>
</div>
