:host {
    display: block;
    position: relative;

    &._event-blocker {
        pointer-events: none;

        .content {
            opacity: 0.56;
        }
    }
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
