<mat-progress-spinner *ngIf="showLoader"
                      mode="indeterminate"
                      class="loader"
                      [diameter]="40"></mat-progress-spinner>
<div class="content">
    <ng-content></ng-content>
</div>