<div *ngIf="information"
     class="information-block"
     [class.information-block_open]="open"
     (click)="toggleOpen()">
    <div class="arrow">
        <i class="fa">
            &#xf107;
        </i>
    </div>
</div>

<div class="information-block_fully"
     *ngIf="open">
    <div class="information-block_content">
        {{information}}
    </div>
</div>

<div [class.content]="!!information">
    <ng-content></ng-content>
</div>
