@import '../../less/sharedStyles';

:host {
    display: block;
    position: relative;
    padding: @space * 4;
    background-color: @white-transparent-color;

    &._bordered {
        border: 1px solid @border-color;
    }
}

.information-block {
    position: relative;
    height: 25px;

    border: 1px solid @border-color;
    background-color: @white-color;

    cursor: pointer;

    &:hover {
        background-color: @white-color-hover;
    }

    &:active {
        background-color: @white-color-active;
    }

    &_fully {
        position: absolute;
        display: flex;
        justify-content: center;

        margin-top: @space / 2;

        padding: @space;

        width: ~'calc(100% - @{space} * 4 * 2)';
        max-height: 200px;

        overflow: auto;

        border: 1px solid @border-color;
        border-bottom-right-radius: @radius;
        border-bottom-left-radius: @radius;
        background-color: @white-color;

        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

        z-index: 1;
    }

    &_content {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-size: 15px;
    }

    &_open {
        background-color: @white-color-hover;

        &:hover {
            background-color: @white-color-active;
        }
    }
}

.arrow {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);

    font-size: 12px;
    color: @text-color-light-grey;
}

.content {
    margin-top: @space * 2;
}
