@import '../../../../shared/less/sharedStyles';

.wrapper {
    padding: @space * 2 @space * 3;
    background-color: @white-transparent-color;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.header {
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
    color: @text-color-blue;
}

.content {
    border: 1px solid @border-color-light-grey;
}

.teams {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: @space * 5 0 @space * 2;
}

.team {
    width: ~'calc(100% / 4)';
    max-width: 200px;
    opacity: @opacity;
    transition: opacity 0.3s;
    cursor: pointer;

    &_active {
        opacity: @opacity-1;
    }
}

.button-default {
    width: 120px;
    font-size: 12px;
    text-align: center;
}
