<h4 class="header">
    Присоединяйтесь к командной гонке за баллами
</h4>

<div class="wrapper">
    <div class="container-fluid content">
        <div class="row">
            <div class="col-12 col-lg-8 mr-lg-auto ml-lg-auto">
                <pdd-question-block information="some information"
                                    [bordered]="false">
                    <div class="teams">
                        <img *ngFor="let team of teams; let index = index"
                             class="team"
                             src="../../../../assets/{{'lamb' + index}}.png"
                             [class.team_active]="team === choiceTeam"
                             (click)="onChoiceTeam(team)">
                        <div class="button-default"
                             [class.disabled]="!choiceTeam"
                             (click)="submitTeam()">Выбрать команду</div>
                    </div>
                </pdd-question-block>
            </div>
        </div>
    </div>
</div>
