@import '../../../../shared/less/sharedStyles';

:host {
    display: block;
    background-image: linear-gradient(to bottom, @blue-color 0%, @blue-color-active 100%);
}

.footer-button {
    border-bottom: 1px solid @white-transparent-color;
}

.footer-button-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 0;
}

.button {
    padding: 8px 0;
    width: ~'calc(100% / 2.1)';
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    background-color: @blue-color;

    &:active {
        background-color: @blue-color;
    }
}

.footer-list {
    list-style: none;
    margin: 0;
    padding: 12px 20px;

    &_link {
        margin: @space / 2;
        height: 20px;
        text-transform: uppercase;
        font-size: 13px;
        color: @text-color-white;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.footer-grey {
    background-color: @light-grey-color;
}

.footer-text {
    padding: 20px 0;
    margin: 0;
    text-align: center;
}

.text {
    margin-left: 8px;
    font-size: 13px;
    font-weight: bold;
}
