<div class="container-fluid">
    <div class="row footer-button">
        <div class="col-md-8 mr-auto ml-auto">
            <div class="footer-button-list">
                <div class="btn btn-primary button">О проекте</div>
                <div class="btn btn-primary button">Сотрудничество</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 mr-auto ml-auto">
            <div class="row">
                <div class="col-6">
                    <ul class="footer-list">
                        <li class="footer-list_link">Миссия</li>
                        <li class="footer-list_link">Наша команда</li>
                        <li class="footer-list_link">Благодарности</li>
                        <li class="footer-list_link">Розыгрыши призов</li>
                        <li class="footer-list_link">Часто задаваемые вопросы</li>
                        <li class="footer-list_link">Вакансии</li>
                        <li class="footer-list_link">Контакты</li>
                        <li class="footer-list_link">Мы в соцсетях</li>
                    </ul>
                </div>

                <div class="col-6">
                    <ul class="footer-list">
                        <li class="footer-list_link">Вход для партнеров</li>
                        <li class="footer-list_link"></li>
                        <li class="footer-list_link">Автошколам</li>
                        <li class="footer-list_link">Автоинструкторам</li>
                        <li class="footer-list_link">Автодиллерам</li>
                        <li class="footer-list_link">Юридическим лицам</li>
                        <li class="footer-list_link">Реклама на сайте</li>
                        <li class="footer-list_link">Партнерская программа</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer-grey">
        <div class="col-12">
            <p class="footer-text">
                <span class="text">@ ZNATOK-PDD.RU 2017</span>
                <span class="text">НКО "Безопасные дороги"</span>
                <span class="text text-muted">Все права защищены.</span>
            </p>
        </div>
    </div>
</div>